<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/profile.css">
    <script src="/public/js/profile.js" defer></script>
    <title>Document</title>
</head>
<body>
    <div class="wrapper">
        <nav class="navbar">
            <div class="links">
                <a href="http://localhost:3000/" class="main">Главная</a>
                <a href="http://localhost:3000/clothes" class="clothes">Одежда</a>
                <a href="http://localhost:3000/shoes" class="boots">Обувь</a>
                <a href="#" class="about">О магазине</a>
            </div>
        </nav>

        <section class="profile-page">
            <div class="person-info">
                <div class="short-info">
                    <div class="picture-image">
                        <img src="/public/img/empty-icon.png" alt="" class="profile-image">
                    </div>
                    <div class="profile-username"><%= userData.username %></div>
                    <section class="buttons">
                        <button class="edit-button" onclick="editProfile(this)">Изменить</button>
                        <button class="quit-button">Выйти</button>
                    </section>
                </div>
                <div class="full-info">
                    <div class="info-name">
                        <div class="name-block">
                            <div class="name-title">Имя</div>
                            <% if (userData.name == undefined || userData.name == '') { %>
                                <div class="name-text">Отсутствует</div>
                            <% } else { %>
                                <div class="name-text"><%= userData.name %></div>
                            <% } %>
                        </div>
                        <div class="surname-block">
                            <div class="surname-title">Фамилия</div>
                            <% if (userData.surname == undefined || userData.surname == '') { %>
                                <div class="surname-text">Отсутствует</div>
                            <% } else { %>
                                <div class="surname-text"><%= userData.surname %></div>
                            <% } %>
                        </div>
                        <div class="patronomyc-block">
                            <div class="patronomyc-title">Отчество</div>
                            <% if (userData.patronomyc == undefined || userData.patronomyc == '') { %>
                                <div class="patronomyc-text">Отсутствует</div>
                            <% } else { %>
                                <div class="patronomyc-text"><%= userData.patronomyc %></div>
                            <% } %>
                        </div>
                        <div class="phone-block">
                            <div class="phone-title">Телефон</div>
                            <% if (userData.phone == undefined || userData.phone == '') { %>
                                <div class="phone-text">Отсутствует</div>
                            <% } else { %>
                                <div class="phone-text"><%= userData.phone %></div>
                            <% } %>
                        </div>
                    </div>
        
                </div>
            </div>
            <section class="send-wrapper">
                <button class="send-button" onclick="sendData()">Отправить</button>
            </section>
            <div class="cart"></div>
        </section>
    </div>
</body>
</html>